/* Define color variables */
:root {
    --button-border-color: #1564c0; /* Darker blue */
    --button-text-color: #1564c0;
    --button-hover-bg-color: #1564c0; /* Darker blue */
    --button-hover-text-color: #bbddfb; /* Lighter blue */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --button-border-color: #1564c0; /* Same border color */
      --button-text-color: #bbddfb; /* Lighter blue */
      --button-hover-bg-color: #1564c0; /* Darker blue */
      --button-hover-text-color: #fafdff; /* White text on hover */
    }
  }
  

/* Custom Button Styles */
.custom-button {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px; /* Reduced padding */
    border: 1px solid var(--button-border-color);
    background-color: transparent;
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 4px; /* Adjusted border radius */
    font-size: 14px; /* Reduced font size */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .custom-button i {
    color: inherit;
    margin-right: 6px; /* Adjusted margin */
  }
  
  .custom-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
  }
  
  .custom-button:hover i {
    color: var(--button-hover-text-color);
  }
  